<!DOCTYPE html>
<title>TensorFlow Special Math - Documentation</title>
<meta charset="utf8">

<link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="./api.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.2/katex.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/javascript.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/github.min.css">

<section id="api">
{{#each children}}
{{#if flags.isPublic}}
<article class="api-function" id="api-{{name}}">
    {{#each signatures}}
    <h2>
        <a href="#api-{{../name}}">tfspecial.{{../name}}</a>
        ({{#each parameters}}{{name}}{{#unless @last}}, {{/unless}}{{/each}})
    </h2>
    {{#description comment}}{{/description}}

    <h3>Parameters</h3>
    <ul>
        {{#each parameters}}
        <li>
            <span class="api-parameter-name">{{name}}</span>
            <span class="api-parameter-type">(tf.Tensor|TypedArray|Array)</span>
            <span class="api-parameter-comment">{{comment.text}}</span>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</article>
{{/if}}
{{/each}}
</section>

<section id="toc">
    <ul>
    {{#each children}}
    {{#if flags.isPublic}}
        {{#each signatures}}
        {{#category comment}}
        {{#unless ../../flags.isFirst}}
            </ul>
        </li>
        {{/unless}}
        <li>{{categoryName}}
            <ul>
        {{/category}}
                <li><a href="#api-{{name}}">{{name}}</a></li>
        {{/each}}
        {{#if @last}}
            </ul>
        </li>
        {{/if}}
    {{/if}}
    {{/each}}
    </ul>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.3/tf.min.js"></script>
<script src="./tf-math-special.min.js"></script>
<script src="./api.js"></script>
